@import 'toastr/toastr.scss';
@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "@mdi/font/css/materialdesignicons.min.css";
@import 'flatpickr/dist/flatpickr.min.css';
@import 'tippy.js/dist/tippy.css';
@import 'theme-toggle';

@tailwind base;
h1 {
  @apply text-4xl font-semibold leading-tight;
}

h2 {
  @apply text-2xl font-semibold leading-tight;
}

@tailwind components;

.tippy-box[data-theme~='light'] {
  @apply bg-gray-900 dark:bg-gray-200 text-gray-50 dark:text-gray-900 rounded;
}

.tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
  @apply border-t-gray-900 dark:border-t-gray-200;
}

.tippy-box[data-theme~='light'][data-placement^='left'] > .tippy-arrow::before {
  @apply border-l-gray-900 dark:border-l-gray-200;
}

.tippy-box[data-theme~='light'][data-placement^='right'] > .tippy-arrow::before {
  @apply border-r-gray-900 dark:border-r-gray-200;
}

.tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
  @apply border-b-gray-900 dark:border-b-gray-200;
}

.btn {
  @apply font-bold py-2 px-4 rounded text-white cursor-pointer;
  &-sm {
    @apply py-1 px-2 text-xs;
  }

  &.btn-primary {
    @apply bg-blue-500 hover:bg-blue-700;
  }

  &.btn-secondary {
    @apply bg-gray-500 hover:bg-gray-700;
  }

  &.btn-danger {
    @apply bg-red-500 hover:bg-red-700 disabled:bg-red-300 disabled:hover:bg-red-300;
  }

  &.btn-warning {
    @apply bg-amber-500 hover:bg-amber-700;
  }

  &.btn-success {
    @apply bg-green-500 hover:bg-green-700;
  }

  &.btn-link {
    @apply underline text-blue-400 hover:text-blue-500 dark:hover:text-blue-300;
  }

  &.btn-icon {
    @apply py-0 px-0 text-xl text-blue-400 hover:text-blue-500 dark:hover:text-blue-300;
  }

  &.btn-file {
    @apply py-0 px-0 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:bg-gray-950 file:text-gray-300 hover:file:bg-gray-900 dark:file:bg-gray-50 dark:file:text-gray-700 dark:hover:file:bg-gray-100;
  }
}

.inline-link {
  @apply text-blue-500 dark:text-blue-400 hover:text-blue-600 dark:hover:text-blue-500 hover:underline;
}

.input {
  @apply rounded-lg bg-white dark:bg-slate-800 text-gray-900 dark:text-gray-100 border border-gray-200 dark:border-gray-500 focus:ring-1 focus:ring-indigo-200 focus:ring-indigo-700 w-full;
  .input-search {
    @apply p-2.5;
  }

  .input-select {
    @apply pl-2.5 pr-6;
  }
}

.checkbox {
  @apply rounded border-gray-300 text-blue-600 shadow-sm focus:border-blue-300 focus:ring focus:ring-offset-0 focus:ring-blue-200 focus:ring-opacity-50;
}

.tooltip {
  @apply invisible absolute font-sans;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.table-wrapper {
  @apply overflow-x-auto;
}

.datatable {
  @apply w-full text-left table-fixed;

  thead {
    @apply bg-zinc-300 dark:bg-zinc-700 text-xs;
    tr {
      th {
        @apply px-2 py-2;
        &:first-child {
          @apply rounded-l;
        }

        &:last-child {
          @apply rounded-r;
        }
      }
    }
  }

  tbody {
    tr {
      @apply text-xxs border-b border-neutral-700 dark:border-neutral-500 bg-zinc-200 dark:bg-zinc-800 even:bg-zinc-300 dark:even:bg-zinc-700;
      td {
        @apply px-2 py-1;
        &:first-child {
          @apply font-bold;
        }
      }

      &:last-child {
        @apply border-b-0;
      }
    }
  }
}

.card {
  @apply bg-white dark:bg-gray-800 rounded border border-gray-200 dark:border-gray-700 w-full items-center col-span-1;
  .card-head {
    @apply w-full flex justify-between my-4 px-4 items-center h-4 max-h-4;
  }
}

input:checked ~ .dot {
  @apply translate-x-6 bg-teal-500 group-hover:bg-teal-400 group-hover:translate-x-5;
}

@tailwind utilities;

[x-cloak] {
  display: none !important;
}

.text-strike {
  text-decoration: line-through;
}
